<div class="window-notice">
  <div class="content">
    <div class="card-header text-center col-sm-12 col-md-12 col-lg-12"><h2>{{titulo}}</h2></div>
    <div class="card-body">

      <form (ngSubmit)="updateexp()">
        <div class="form-group row">
          <label for="empresa" class="col-form-label col-sm-2">Empresa</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [ngModel]="experiencia.empresa"
              name="empresa"
              placeholder="Empresa"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="rol" class="col-form-label col-sm-2">Rol</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [ngModel]="experiencia.rol"
              name="rol"
              placeholder="Escribe tu rol, puesto"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="ingreso" class="col-form-label col-sm-2">Mes y año de ingreso</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control"
              [ngModel]="experiencia.fechadeingreso"
              name="ingreso"
              placeholder="Mes en letras y año en numero"/>
          </div>
          <label for="egreso" class="col-form-label col-sm-2">Mes y año de egreso</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control"
              [ngModel]="experiencia.fechadeegreso"
              name="egreso"
              placeholder="Mes en letras y año en numero"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="tareas" class="col-form-label col-sm-2">Tareas</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
            <input type="text" class="form-control" [ngModel]="experiencia.rol" name="rol" placeholder="Tarea"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-secondary" role="button">Modificar</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
