<div class="row">
    <div class="info col-sm-6 col-md-6 col-lg-6">

        <button class="edit" type="button" [routerLink]="['/informacion/editexp']"><i class="bi bi-pencil" width="16" height="16" fill="currentColor"alt=""></i></button>
        <h1>Experience</h1>
        
        <div>
            <ul *ngFor="let experiencia of laboral">
                <h4><img id="logoemp" [src]="miPorfolio.imgemployer"/> {{experiencia.empresa}} - {{experiencia.rol}}</h4>
                <h6>{{experiencia.fechadeingreso}}{{experiencia.fechadeegreso}}</h6>
                <ul>
                    <li>{{experiencia.tarea1}}</li>
                    <li>{{experiencia.tarea2}}</li>
                    <li>{{experiencia.tarea3}}</li>
                    <li>{{experiencia.tarea4}} </li>
                    <li>{{experiencia.tarea5}} </li>
                    <li>{{experiencia.tarea6}} </li>
                    <li>{{experiencia.tarea7}} </li>
                    <li>{{experiencia.tarea8}} </li>
                    <li>{{experiencia.tarea9}} </li>
                </ul>
            </ul>     
        </div>
    </div>
        
    <div class="info col-sm-6 col-md-6 col-lg-6">
        
        <button class="edit" type="button" [routerLink]="['/informacion/editedu']"><i class="bi bi-pencil" width="16" height="16" fill="currentColor"alt=""></i></button>
        <h1>Education</h1>

        <ul *ngFor="let educacion of escuela">
            <h3><img id="logoemp" [src]="miPorfolio.imgschool"/>{{educacion.titulo}} </h3>
            <h4>{{educacion.establecimiento}}</h4>
            <h5>{{educacion.fechadeingreso}}{{educacion.fechadeegreso}}</h5><br><br>        
        </ul>        
    </div>

</div>