<div class="container-fluid">
    <div class="row">
        <div class="foto text-center col-sm-12 col-md-6 col-lg-6">
            <img class="perfil" 
            src="../../../assets/images/me.jpg"
            alt="perfil">
        </div>

        <div class="texto text-center col-sm-11 col-md-5 col-lg-5">
            <div id="name" class="align right">
                <h2>Bienvenidos a mi porfolio<br></h2>
                <h1 *ngFor="let persona of personas">{{persona.nombre}}{{persona.apellido}}</h1>
            </div>    
        </div>
        <div class="text-right col-sm-1 col-md-1 col-lg-1">
            <button class="edit" type="button" [routerLink]="['/inicio/edittitulo']"><i class="bi bi-pencil" width="16" height="16" fill="currentColor"alt=""></i></button>
        </div>
    </div>
</div>
