*{
    background-color: #2D066B;
    color: #99A3A4;
    margin: 0px;
    padding: 0px;
}
.aboutme{
    border: 5px solid;
    border-color: #99A3A4;
    padding: 2em;
}
h2{
    text-align: center;
    padding: 2px;
    text-decoration: underline;

}
p{
    padding: 2px 2px;
    text-align: center;
}
#logoedit{
    height:155px;
    width:155px;
    background-color: green;
}