*{
    background-color: #2D066B;
    color: #99A3A4;
    margin: 0px;
}
section {
    width: 100%;
    border: 5px solid #99A3A4;
    padding: 5px 5px 5px 5px;
    border-color: #99A3A4;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    font-size: 30px;
}
.edit, .new, .delete{
    margin: 0px;
    padding: 5px;
    border: #99A3A4;
    border-color: #99A3A4;
    background-color: transparent !important;
    text-align: right !important;
}
i{
    color: #99A3A4;
    border-color: #99A3A4;
    border-radius:2px;
}